In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
import pandas as pd


file_path = '/content/drive/MyDrive/Colab Notebooks/base-2022-regiones.csv'


df = pd.read_csv(file_path, encoding='ISO-8859-1')

print(df.head())

  SEXO     EDAD      PAIS  AÑO ESTIMACION  CODREGEO  \
0    H  00 A 04  ALEMANIA            2018         5
1    H  00 A 04  ALEMANIA            2018         6
2    H  00 A 04  ALEMANIA            2018         7
3    H  00 A 04  ALEMANIA            2018         9
4    H  00 A 04  ALEMANIA            2018        11

                      REGION  CENSO AJUSTADO  RRAA_REGULAR  RRAA_IRREGULAR  \
0                   COQUIMBO             2.0           NaN             NaN
1                 VALPARAÍSO             1.0           1.0             NaN
2  METROPOLITANA DE SANTIAGO            26.0           NaN             NaN
3                      MAULE             1.0           NaN             NaN
4                     BIOBÍO             2.0           NaN             NaN

   RRAA_TOTAL  ESTIMACION
0         NaN           2
1         1.0           2
2         NaN          26
3         NaN           1
4         NaN           2

In [11]:
print(df.describe())

       AÑO ESTIMACION      CODREGEO  CENSO AJUSTADO  RRAA_REGULAR  \
count    51946.000000  51946.000000    45821.000000  34939.000000
mean      2020.009048      8.865283       85.381594     95.595152
std          1.411528      4.772844      500.518329    689.005733
min       2018.000000      1.000000        1.000000      1.000000
25%       2019.000000      5.000000        2.000000      2.000000
50%       2020.000000      9.000000        7.000000      5.000000
75%       2021.000000     13.000000       26.000000     24.000000
max       2022.000000     17.000000    10898.000000  25187.000000

       RRAA_IRREGULAR    RRAA_TOTAL    ESTIMACION
count    14032.000000  36334.000000  51946.000000
mean        15.229119     97.806297    143.725484
std        159.358925    691.345758    933.938417
min          1.000000      1.000000      1.000000
25%          1.000000      2.000000      3.000000
50%          2.000000      5.000000      9.000000
75%          5.000000     25.000000     41.000000
max       8381.000000  25312.000000  36210.000000

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51946 entries, 0 to 51945
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SEXO            51946 non-null  object
 1   EDAD            51946 non-null  object
 2   PAIS            51946 non-null  object
 3   AÑO ESTIMACION  51946 non-null  int64
 4   CODREGEO        51946 non-null  int64
 5   REGION          51946 non-null  object
 6   CENSO AJUSTADO  45821 non-null  float64
 7   RRAA_REGULAR    34939 non-null  float64
 8   RRAA_IRREGULAR  14032 non-null  float64
 9   RRAA_TOTAL      36334 non-null  float64
 10  ESTIMACION      51946 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 4.4+ MB
None

In [13]:
print(df.isnull().sum())

SEXO                  0
EDAD                  0
PAIS                  0
AÑO ESTIMACION        0
CODREGEO              0
REGION                0
CENSO AJUSTADO     6125
RRAA_REGULAR      17007
RRAA_IRREGULAR    37914
RRAA_TOTAL        15612
ESTIMACION            0
dtype: int64

In [14]:
df_clean = df.dropna()

In [17]:
clean_file_path = '/content/drive/My Drive/Colab Notebooks/base-2022-regiones-limpio.csv'

df_clean.to_csv(clean_file_path, index =False)